<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Create</title>
</head>
<body>
    <h1>Create</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!--{{form}}  hacer lo mismo de abajo pero lo pone todo junto-->
        <p><b>Nombre</b>{{ form.name }}</p></label>
        <p><b>Year Old</b>{{ form.year_old }}</p></label>
        <p><b>Tel </b>{{ form.tel }}</p></label>
        <p><b>Email</b>{{ form.email }}</p></label>
        <button type="submit">Aceptar</button>
        <a href="./" type="submit">Cancelar</a>
        <a href="../" type="submit" >Return</a>
      </form>
</body>
</html>