<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>hola</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <a href="create/" type="button">Create</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Year Old</th>
                <th>Tel</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in object_list %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.name }}</td>
                <td>{{ usuario.year_old }}</td>
                <td>{{ usuario.tel }}</td>
                <td>{{ usuario.email }}</td>
                <td><a href="look/{{usuario.id}}" type="button">Look</a></td>
                <td><a href="update/{{usuario.id}}" type="button">Update</a></td>
                <td>
                    <form method="POST" action="delete/{{usuario.id}}">
                        {% csrf_token %}
                        <button onclick="return deleten()"  type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        function deleten() {
          var x = confirm("Eliminar Producto ?");
          if (x)
            return true;
          else
            return false;
        }
      </script>
</body>
</html>