<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>look</title>
</head>
<body>
    <p><b>ID: </b>{{object.id }}</p>
    <p><b>NAME: </b>{{ object.name }}</p>
    <p><b>YEAR OLD: </b>{{ object.year_old }}</p>
    <p><b>TEL: </b>{{ object.tel }}</p>
    <p><b>EMAIL: </b>{{ object.email }}</p>
    <br>
    <a href="../" type="submit" >Return</a>
</body>
</html>